body {
  font-family:arial,sans-serif;
}
h1 {
    color:darkblue;
} 
nav{
  background-color: black;
  color:white;
  padding:10px;
}
li,h1,ul{
  display:inline;
  padding:10px;
}
ul{
  margin-left: 40%;
}
.one{
  background-color: black;
  padding: 30px;
  border-color: brown;
  border-width: 20px;
  border-style:solid;
  margin:20px;
  color: bisque;
}
.two:hover{
  color: aqua;
}
.three{
  background-color: black;
  margin:20px;
  padding:20px;
}
.three li:hover{
  background-color: aqua;
  color: brown;
}
.three ul,li{
  padding-right:30px;
  color: white;
}
#header{
  height:80px;
  width:100%;
  box-sizing: border-box;
  background-color:black;
  text-align: center;
  color: azure;
}
#container{
  display:flex;
  min-height:300px;
}
#side-bar-left{
  width:20%;
  background-color: aqua;
  box-sizing: border-box;
}
#main{
  width:60%;
  background-color: blue;
  box-sizing: border-box;
}
#side-bar-right{
  width:20%;
  background-color: blueviolet;
  box-sizing: border-box;
}
#footer{
  background-color: brown;
  width:100%;
  text-align:center ;
  padding:10px;
}
.box{
  width: 300px;
  height:150px;
  text-align: center;
  background-color: aquamarine;
  color: whitesmoke;
  margin:50px;
}
@media (max-width:600px) {
  .box{
    background-color: greenyellow;
    width:100%;
  }
  
}